.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    block-size: 80px;
}

@media screen and (max-width: 640px) {
    .header .button {              
        padding-inline-start: 7px;
        padding-inline-end: 7px;
        padding-block-start: 7px;
        padding-block-end: 7px;      
        text-transform: capitalize;     
    }    
}