.hero {
    text-align: center;
    margin-block-start: 80px;
    padding-block-start:16px ;
}

.hero h1 {
    font: var(--headline3)
}

.hero h1 span:nth-of-type(1){
    display: block;   
    font: var(--headline4)
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-social {
    padding-block-end: 24px;
}